<%- if github_environment_selector == 'input' -%>
<%- set github_runs_on = github_runs_on + ['${{ matrix.environment }}'] -%>
<%- set _ = github_default_registry.update({"url": "${{ vars[format('{0}_REGISTRY_URL', matrix.environment)] }}" }) -%>
<%- set _ = github_default_registry.update({"username": "${{ vars[format('{0}_REGISTRY_USERNAME', matrix.environment)] }}" }) -%>
<%- set _ = github_default_registry.update({"password": "${{ secrets[format('{0}_REGISTRY_PASSWORD', matrix.environment)] }}" }) -%>
<%- endif -%>
name: %% format_file_name(workflow.file_name, is_title=true) %%

on:
  workflow_dispatch:

env:
  KAYOBE_USER_UID: 1000
  KAYOBE_USER_GID: 1000

jobs:
  prepare-runner:
    uses: ./.github/workflows/prepare-runner.yml
  %% format_file_name(workflow.file_name) %%:
    <%- if github_environment_selector == 'input' and (github_registry.share | default(github_default_registry.share)) is false +%>
    strategy:
      matrix:
        environment: %% github_kayobe_environments %%
    <%- endif +%>
    runs-on: %% github_runs_on %%
    container:
      image: docker:24.0-git
    permissions:
      contents: read
      packages: %% 'write' if (github_registry.url | default(github_default_registry.url)) == 'ghcr.io' else 'none' %%
    needs: prepare-runner
    steps:
<% if github_checkout_hook | length >= 1 %>
      %% github_checkout_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Checkout kayobe config
        uses: actions/checkout@v3
        with:
           submodules: true
           path: docker-image-build

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: %% github_registry.url | default(github_default_registry.url) %%
          username: %% github_registry.username | default(github_default_registry.username) %%
          password: %% github_registry.password | default(github_default_registry.password) %%

<% if github_buildx_enabled %>
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.1
<% if github_buildx_inline_config | length >= 1 %>
          config-inline: |
            %% github_buildx_inline_config | indent(12) | trim %%
<% endif %>
          version: v0.11.2

<% endif %>
<% if github_kayobe_hook | length >= 1 %>
      %% github_kayobe_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          file: ./docker-image-build/.automation/docker/kayobe/Dockerfile
          context: docker-image-build
          build-args: |
             KAYOBE_DOCKER_SSH_CONFIG_PATH=.automation/docker/kayobe/ssh_config
             KAYOBE_USER_UID=${{ env.KAYOBE_USER_UID }}
             KAYOBE_USER_GID=${{ env.KAYOBE_USER_UID }}
             BASE_IMAGE=%% github_kayobe_base_image %%
          push: true
          tags: |
            %% github_registry.url | default(github_default_registry.url) %%/%% github_image_name %%:%% github_image_tag %%
            %% github_registry.url | default(github_default_registry.url) %%/%% github_image_name %%:${{ github.sha }}
<% if not github_buildx_enable_provenance %>
          provenance: false
<% endif %>
<% if github_final_hook | length >= 1 +%>
      %% github_final_hook | indent(width=6, first=false) -%%
<% endif %>
