<% include "header.yml.j2" +%>

jobs:
  %% format_file_name(workflow.file_name) %%:
    runs-on: %% github_runs_on %%
    permissions:
      contents: write
    container:
      image: %% github_registry_url %%/%% github_image_name %%:%% github_image_tag %%
      credentials:
        username: %% github_registry_username %%
        password: %% github_registry_password %%
    timeout-minutes: %% github_timeout %%
    steps:
<% if github_checkout_hook | length >= 1 %>
      %% github_checkout_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Checkout kayobe config
        uses: actions/checkout@v3
        with:
          submodules: true
          path: kayobe-config

<% if github_kayobe_hook | length >= 1 %>
      %% github_kayobe_hook | indent(width=6, first=false) %%
<% endif %>
      - name: Symlink source checkout to expected location
        run: sudo ln -s $PWD/kayobe-config /src

      - name: %% format_file_name(workflow.file_name, is_subtitle=true)  %%
        run: |
          /src/.automation/pipeline/%% workflow.file_name[4:-4] %%.sh
        <%- if workflow.arguments is defined +%>
        env:
          KAYOBE_ENVIRONMENT: '%% github_kayobe_arguments.KAYOBE_ENVIRONMENT | default(default_kayobe_arguments.KAYOBE_ENVIRONMENT) %%'
          KAYOBE_AUTOMATION_SSH_PRIVATE_KEY: '%% github_kayobe_arguments.KAYOBE_AUTOMATION_SSH_PRIVATE_KEY | default(default_kayobe_arguments.KAYOBE_AUTOMATION_SSH_PRIVATE_KEY) %%'
          KAYOBE_VAULT_PASSWORD: '%% github_kayobe_arguments.KAYOBE_VAULT_PASSWORD | default(default_kayobe_arguments.KAYOBE_VAULT_PASSWORD) %%'
          <%- for argument in workflow.arguments | flatten +%>
          %% argument %%: '%% github_kayobe_arguments[argument] | default(default_kayobe_arguments[argument]) %%'
          <%- endfor +%>
          HOME: '%% github_kayobe_arguments.HOME | default(default_kayobe_arguments.HOME) %%'
        <%- endif +%>
<% if github_final_hook | length >= 1 +%>
      %% github_final_hook | indent(width=6, first=false) -%%
<% endif %>
