---
github_output_directory: .github/workflows

github_environment_selector:

github_kayobe_environments: []

github_runs_on: [self-hosted]

github_registry: {}

github_image_name: kayobe

github_image_tag: !unsafe "${{ needs.prepare-runner.outputs.openstack_release }}-latest"

github_kayobe_base_image: "quay.io/centos/centos:stream8"

github_kayobe_arguments: {}

github_checkout_hook: ""

github_kayobe_hook: ""

github_final_hook: ""

github_buildx_enabled: false

github_buildx_inline_config: ""

github_buildx_enable_provenance: false

github_timeout: 360

github_default_octavia_certificates_expiry_time: 30

github_octavia_certificates_schedule:

github_tempest_test_suites: |
  - default
  - tempest-full

github_kayobe_limit_input: |
  kayobe_limit:
    description: |
      The ansible limit to use when running kayobe playbooks.

github_kayobe_tags_input: |
  kayobe_tags:
    description: |
      The ansible tags to use when running kayobe playbooks.

github_kolla_limit_input: |
  kolla_limit:
    description: |
      The ansible limit to use for kolla-ansible playbooks.

github_kolla_tags_input: |
  kolla_tags:
    description: |
      The ansible tags to use when running kolla-ansible playbooks.

github_kayobe_environment_input: |
  {%- if github_environment_selector == 'input' -%}
  kayobe_environment:
    description: |
      Select the environment the kayobe workflow shall target.
    type: choice
    required: true
    default: '{{ github_kayobe_environments | first }}'
    options: {{ github_kayobe_environments }}
  {%- endif -%}

github_octavia_certificates_input: |
  expiry_time:
    description: |
      Check if the Octavia Amphora certificates will expire within this
      number of days (integer).
    type: string
    required: true
    default: '{{ github_default_octavia_certificates_expiry_time }}'

github_workflows: "{{ github_workflows_default + github_workflows_extra }}"

github_workflows_default:
  - "{{ github_prepare_runner }}"
  - "{{ github_build_kayobe_image }}"
  - "{{ github_run_kolla_config_diff }}"
  - "{{ github_run_infra_vm_host_configure }}"
  - "{{ github_run_infra_vm_host_package_update }}"
  - "{{ github_run_infra_vm_provision }}"
  - "{{ github_run_infra_vm_service_deploy }}"
  - "{{ github_run_network_connectivity_check }}"
  - "{{ github_run_overcloud_container_image_pull }}"
  - "{{ github_run_overcloud_database_backup }}"
  - "{{ github_run_overcloud_host_configure }}"
  - "{{ github_run_overcloud_host_package_update }}"
  - "{{ github_run_overcloud_inventory_discover }}"
  - "{{ github_run_overcloud_provision }}"
  - "{{ github_run_overcloud_service_deploy }}"
  - "{{ github_run_overcloud_service_upgrade }}"
  - "{{ github_run_seed_host_configure }}"
  - "{{ github_run_seed_host_package_update }}"
  - "{{ github_run_seed_hypervisor_host_configure }}"
  - "{{ github_run_seed_hypervisor_host_package_update }}"
  - "{{ github_run_seed_service_deploy }}"
  - "{{ github_run_seed_vm_provision }}"
  - "{{ github_run_tempest }}"

github_workflows_extra: []

github_prepare_runner:
  file_name: prepare-runner.yml
  use_bespoke: true

github_build_kayobe_image:
  file_name: build-kayobe-docker-image.yml
  use_bespoke: true

github_run_kolla_config_diff:
  file_name: run-config-diff.yml
  use_bespoke: true

github_run_infra_vm_host_configure:
  file_name: run-infra-vm-host-configure.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: infra

github_run_infra_vm_host_package_update:
  file_name: run-infra-vm-host-package-update.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: infra

github_run_infra_vm_provision:
  file_name: run-infra-vm-provision.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: infra

github_run_infra_vm_service_deploy:
  file_name: run-infra-vm-service-deploy.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: infra

github_octavia_certificates_schedule_trigger:
  schedule:
    cron: "{{ github_octavia_certificates_schedule }}"

github_octavia_certificates_workflow_dispatch_trigger:
  workflow_dispatch: "{{ github_octavia_certificates_input }}"

github_run_kolla_ansible_octavia_certificates:
  file_name: run-kolla-ansible-octavia-certificates-check-expiry.yml
  use_bespoke: true
  expiry_time: "{{ github_default_octavia_certificates_expiry_time }}"
  trigger: >-
    {{ github_octavia_certificates_workflow_dispatch_trigger | combine(github_octavia_certificates_schedule_trigger)
    if github_octavia_certificates_schedule else github_octavia_certificates_workflow_dispatch_trigger }}
  concurrency_group: overcloud

github_run_network_connectivity_check:
  file_name: run-network-connectivity-check.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: network

github_run_overcloud_container_image_pull:
  file_name: run-overcloud-container-image-pull.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}"]
  concurrency_group: overcloud

github_run_overcloud_database_backup:
  file_name: run-overcloud-database-backup.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}"]
  concurrency_group: overcloud

github_run_overcloud_host_configure:
  file_name: run-overcloud-host-configure.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}"]
  concurrency_group: overcloud

github_run_overcloud_host_package_update:
  file_name: run-overcloud-host-package-update.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: overcloud

github_run_overcloud_inventory_discover:
  file_name: run-overcloud-inventory-discover.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kayobe_pull_request_arguments }}"]
  concurrency_group: overcloud

github_run_overcloud_provision:
  file_name: run-overcloud-provision.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: overcloud

github_run_overcloud_service_deploy:
  file_name: run-overcloud-service-deploy.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}", "{{ github_kayobe_pull_request_arguments }}"]
  concurrency_group: overcloud

github_run_overcloud_service_upgrade:
  file_name: run-overcloud-service-upgrade.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}", "{{ github_kayobe_pull_request_arguments }}"]
  concurrency_group: overcloud

github_run_seed_host_configure:
  file_name: run-seed-host-configure.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}"]
  concurrency_group: seed

github_run_seed_host_package_update:
  file_name: run-seed-host-package-update.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: seed


github_run_seed_hypervisor_host_configure:
  file_name: run-seed-hypervisor-host-configure.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: seed

github_run_seed_hypervisor_host_package_update:
  file_name: run-seed-hypervisor-host-package-update.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: seed

github_run_seed_service_deploy:
  file_name: run-seed-service-deploy.yml
  trigger:
    workflow_dispatch: ["{{ github_kolla_dispatch_inputs }}", "{{ github_kayobe_dispatch_inputs }}"]
  arguments: ["{{ github_kayobe_task_arguments }}", "{{ github_kolla_task_arguments }}", "{{ github_kayobe_pull_request_arguments }}"]
  concurrency_group: seed

github_run_seed_vm_provision:
  file_name: run-seed-vm-provision.yml
  trigger:
    workflow_dispatch: "{{ github_kayobe_dispatch_inputs }}"
  arguments: "{{ github_kayobe_task_arguments }}"
  concurrency_group: seed

github_run_tempest:
  file_name: run-tempest.yml
  use_bespoke: true
  test_suites: "{{ github_tempest_test_suites }}"
  concurrency_group: tempest
